body{
    margin: 0 auto;
    scroll-behavior: smooth;
}

.auto-padding{
    padding: 50px 0px 50px 0px;
}

/* Commons start */
.head{
    font-size: 1.8em;
    font-weight: 600;
    color: #f7920d;
}

.sub-head{
    /* font-size: 1.5em; */
    font-weight: 500;
    color: #f7920dc2;
}
/* Commons end */


/* Banner start */
.banner{
    height: 100vh !important;
}

.overlay { 
    color:#fff;
    position:absolute;
    z-index:12;
    top:50%;
    left:0;
    width:100%;
    text-align:center;
    width: max-content;
    margin: auto;

  }

  .banner-heads{
    margin: auto;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #f68121e1;
    padding-left: 150px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .logo{
    position: absolute;
    z-index: 12;
  }

  .carousel-item > img{
    max-height: 1000px;
    filter: grayscale(40%);

  }
/* Banner end */


/* Section 3 start */
.sec-3{
    background-color: #f68121;
}
/* Section 3 end */


@media only screen and (max-width: 500px)
{
    .overlay{
        padding-left: 10px;
        font-size: 0.7em;
    } 
}